

.hero
{    /* background-image: url("../../assets/images/hero/hero.jfif"); */
    height: 470px;
    margin: 20px auto;
    
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1100px;

    box-shadow: 0 0 10px black;

    background: linear-gradient(45deg,rgba(0,0,0,0.7) ,rgba(236, 231, 231, 0.8));
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    position: relative;
    transition: background-image 1s  ease-in-out;
    

}
.hero-text 
{
    color: white;
}

.hero-text h1
{
    font-size: 50px;
    text-align: center;
}

.hero-text p{
    font-size: 35px;
    text-align: center;
}