.form-container
{
    width: 300px;
    border: 1px solid ;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;    
    color:rgb(6, 181, 240);
    margin: 30px auto;
   box-shadow: 
    0 4px 10px gray,
    0 10px 30px gray;
    width: 400px;
}

h1
{    
   
   
    margin-bottom: 30px;
}


.input-div input ,.input-div select{
     border: 1px solid rgb(6, 181, 240);
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;

}

.form
{
    gap: 30px;
}

.form button
{
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(6, 181, 240);
    color: white;
    border-radius: 5px;
    border: none;
}
.redirect
{
    display: flex;
    color: rgb(6, 181, 240);

}

a
{
    color: rgb(6, 181, 240);
}