img
{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.title
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 3rem;
    
    padding: 20px;
    border-radius: 10px;
}