.categories
{
    width: 1100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;   
    margin: 30px auto;
}
.categories img
{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

.categories h3
{
    align-self: center;
    text-align: center;
    margin-top: 10px;
    color: tomato;
}