.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    
    height: 64px;
   
     z-index: 100;
     color: white;
}



.menu-bar ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    
}

.menu-bar ul a
{
    margin: 0 15px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color: white;
}
.menu-bar 
{
    flex-grow:1;
}
.login-button
{
    padding: 10px 20px;
    background-color: black;
    border-radius: 5px;
    border: rgb(44, 43, 43) 2px solid;
    color: gainsboro;
    cursor: pointer;
}