.cards
{
    display: grid;    
    grid-template-columns: repeat(4, 250px);
    gap: 20px 30px;
    padding: 30px;
    margin: 10px 30px;
    justify-content: center;    
}

.card 
{
    width: 100%;    
    background-color: white;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;    
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    gap: 20px;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px gray;
    /* height: 270px; */

}   

.card button
{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: salmon;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    align-self: center;
}

.card h4 ,.card p{
    margin: auto;
    text-align: center;
    /* font-size: 18px; */
}

.buttons
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: auto;
    border-radius: 5px;
}
.card img
{
    width: 100%;
    height: 230px;
    object-fit: cover;
     filter: invert(1);
    
}


button:nth-child(1)
{
    background-color: green;
}